@import 'variable.scss';
// Modal
.modal-dialog {
  max-width: 35.9375vw;
}

.modal-yellow {
  .modal-content {
    background-image: url(../images/modal/bottom_sheet_modal_venue-yellow.png);
  }

  .modal-header.display-5,
  .modal-body .title-text {
    color: $main_yellow;
  }

  .modal-body {
    .form-control,
    .btn-3d {
      background: $main_yellow;
    }
  }
}

.modal-red {
  .modal-content {
    background-image: url(../images/modal/bottom_sheet_modal_venue-red.png);
  }

  .modal-header.display-5,
  .modal-body .title-text {
    color: $main_red;
  }

  .modal-body {
    .form-control,
    .btn-3d {
      background: $main_red;
    }
  }
}

.modal-blue {
  .modal-content {
    background-image: url(../images/modal/bottom_sheet_modal_venue-blue.png);
  }

  .modal-header.display-5,
  .modal-body .title-text {
    color: $main_blue;
  }

  .modal-body {
    .form-control,
    .btn-3d {
      background: $main_blue;
    }
  }
}

.modal-purple {
  .modal-content {
    background-image: url(../images/modal/bottom_sheet_modal_venue-purple.png);
  }

  .modal-header.display-5,
  .modal-body .title-text {
    color: $main_purple;
  }

  .modal-body {
    .form-control,
    .btn-3d {
      background: $main_purple;
    }
  }
}

.modal-content {
  width: 35.9375vw;
  height: 42.29vw;
  
  background-size: cover;
  border-radius: 27px;

  .modal-header {
    position: relative;
    padding: 0;

    /*.display-5 {
      font-size: 1.61458vw;
      line-height: 2.23958vw;
    }*/

    .header-bg {
      padding: 4.61vw 0 2.22vw;
      width: 36.1%;
      img {
        width: 100%;
      }
    }
      
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      margin: 0;
    }
  }

  .modal-body {
    padding: 0 0 4.427vw;
    width: 25.677vw;
    margin: 0 auto;

    .title-text {
      font-size: 1.61458vw;
      line-height: 2.23958vw;
      margin: 0;
      font-weight: 400;
    }

    form {
      margin: 1.927vw 0 0;

      .label-text {
        font-size: 1.458vw;
        line-height: 2.03125vw;
        color: #8D8D8D;
        margin-bottom: 0.677vw;
      }

      .form-group {
        margin-bottom: 0;
      }

      .form-control {
        font-size: 1.458vw;
        padding: 0 0 0 2.03125vw;
        height: 4.3229vw;
        line-height: 1;
        min-height: initial;
        color: #fff;
        margin-bottom: 2.1875vw;
        border-radius: 7px;
        opacity: 0.71;
      }

      .btn-3d {
        font-size: 1.458vw;
        border-width: 0;
        height: 4.3229vw;
        border-radius: 7px;
        font-weight: 400;
      }
    }
  }
}

.modal-mail-test {
  .modal-dialog {
    max-width: 34.635vw;
  }

  .modal-content {
    width: 34.635vw;
    height: 50vw;
    
    background-size: cover;
    border-radius: 27px;
  
    .modal-header {
      position: relative;
      padding: 0;
  
      .header-bg {
        padding: 4.61vw 0 2.22vw;
        width: 36.1%;
        img {
          width: 100%;
        }
      }
        
      .close {
        position: absolute;
        top: 5px;
        right: 5px;
        margin: 0;
      }
    }
  
    .modal-body {
      padding: 0;
      width: 26.6145vw;
      margin: 0 auto;
  
      .title-text {
        font-size: 1.51vw;
        line-height: 2.23958vw;
        margin: 0;
      }
  
      form {
        margin: 2.135vw 0 0;
  
        .label-text {
          font-size: 1.302vw;
          line-height: 2.03125vw;
          color: #8D8D8D;
          margin-bottom: 0.677vw;
        }
  
        .form-group {
          margin-bottom: 0;

          .form-control {
            font-size: 1.302vw;
            padding: 0 0 0 2.03125vw;
            height: 3.64583vw;
            line-height: 1;
            min-height: initial;
            color: #fff;
            margin-bottom: 0.833vw;
            border-radius: 7px;
            opacity: 0.71;
          }

          &.mt-43 {
            .form-control {
              margin-bottom: 2.2396vw;
            }
          }
        }
  
        
  
        .btn-3d {
          font-size: 1.3541vw;
          border-width: 0;
          height: 4.1146vw;
          border-radius: 7px;
          font-weight: 400;
        }
      }
    }
  }

  &.modal-yellow {
    .modal-content {
      background-image: url(../images/modal/bottom_sheet_modal_email_test-yellow.png);
    }
  }
  
  &.modal-red {
    .modal-content {
      background-image: url(../images/modal/bottom_sheet_modal_email_test-red.png);
    }
  }
  
  &.modal-blue {
    .modal-content {
      background-image: url(../images/modal/bottom_sheet_modal_email_test-blue.png);
    }
  }
  
  &.modal-purple {
    .modal-content {
      background-image: url(../images/modal/bottom_sheet_modal_email_test-purple.png);
    }
  }
}