// Background Color
$main_color: #f9dee3;
$main_dark_color: #ffbbc0;
$main_hover_bg: #ff7f9f;

// Text Color
$main_text_color: #fe525b;
$val_text_color: #ff7f9f;

// Button Color
$main_button_color: #f35b5b;

// Icon Color
$main_icon_color: #ff7f9f;

// Lang Color
$lang_btn_color: #f9beb8;
$lang_bg_color: #f9beb880;

$collapse_text_color: #af4256;

$unselectable_color: #cc0000;

$card_bg_color: #fdf6f1;
$card_disabled_bg_color: #e6e6e6;

// upload icon
$upload_icon_color: #ffbcbc;
$upload_icon_fill_color: #ff7f9f;

// $hover_color: #f9beb83d;

